* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #202123;
  color: white;
}

.about-container {
  padding: 30px 50px;
  font-size: 14px;
}
.title {
  text-align: center;
}
.note {
  font-weight: 700;
  text-align: center;
  color: brown;
  padding: 10px;
}

h3 {
  margin: 0;
}

ol,
ul {
  margin: 0;
}

.bg {
  background-color: rgb(80, 80, 80);
  margin: 10px 0px;
  padding: 10px;
}

.get-started {
  color: rgb(92, 42, 168);
  text-align: center;
}

.links {
  color: rgb(176, 170, 170);
}

.links div {
  margin-bottom: 5px;
}

a {
  color: rgb(213, 106, 106);
  margin-left: 5px;
}

.bg-img {
  width: 100px;
  height: 100px;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 50px 0px 120px 0px;
  gap: 20px;
}

.output-area {
  flex: 1;
}

.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 90%;
  background-color: rgb(75, 75, 75);
  display: flex;
  border-radius: 8px;
  height: 50px;
  box-shadow: 0 0 4px 1px rgb(27, 26, 26);
}

input {
  font-size: 20px;
  color: whitesmoke;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
  flex: 1;
}

button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 6px 10px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: white;
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: rgb(114, 114, 114);
}

.robottext {
  background-color: rgb(91, 89, 89);
  padding: 12px 10px;
  display: flex;
}

.usertext {
  background-color: rgb(75, 75, 75);
  padding: 12px 10px;
  display: flex;
}

.smallImg {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.text {
  padding-left: 10px;
}

.notFoundContainer {
  background-color: #202123;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
}

.goHomeBtn {
  background-color: #414245;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

@media (min-width: 1000px) {
  .about-container {
    padding: 50px 150px;
    font-size: 16px;
  }
  .robottext,
  .usertext {
    padding: 10px 150px;
  }
  .input-container {
    width: 70%;
  }
}

.noContentContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 70vh;
}

.robotImg {
  width: 100%;
  height: 100%;
}

.askText {
  font-size: 24px;
}
